@model StaticVoid.Blog.Site.Areas.Manage.Models.DashboardModel

@{
    ViewBag.Title = "Dashboard";
}

<ul>
    <li>@Html.ActionLink("Author Posts", "Index", "PostAuthoring")</li>
    <li>@Html.ActionLink("Configure Redirects", "Index", "Redirects")</li>
    <li>@Html.ActionLink("Modify Blog Config", "Edit", "BlogConfiguration",new {}, new {@class = "edit-blog-config" })</li>
    <li>@Html.ActionLink("Modify Blog Style", "EditBlogStyle", "StyleEditor",new { }, new {@class = "edit-blog-style" })</li>
</ul>

<div class="row" >
    <ul class="nav nav-list span2">
        @foreach (var post in Model.Posts)
        {
            <li><a href="#" class="post-list-item" id="post-@post.Item2">@post.Item1</a></li>
        }
    </ul>
    <div class="post-detail span6">
        <div class="post-detail-loader" style="display:none;">loading</div>
        <div class="post-detail-contents" style="display:none;">
            <a></a>
            <span class="description"></span>
        </div>
    </div>
</div>

<div id='edit-blog-config-modal' class='modal hide fade in modal-editor' data-url='@Url.Action("Edit", "BlogConfiguration")'>
    <div id='edit-blog-config-container'>
    </div>
</div>

<div id='edit-blog-style-modal' class='modal hide fade in modal-editor' data-url='@Url.Action("EditBlogStyle", "StyleEditor")'>
    <div id='edit-blog-style-container'>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        setupModal('edit-blog-config');
        setupModal('edit-blog-style', true);

        $('.post-list-item').click(function () {
            $('.post-list-item').parent('li').removeClass('active');
            $(this).parent('li').addClass('active');
            $('.post-detail-contents').hide();
            $('.post-detail-loader').show();
            $.getJSON('@Url.Action("PostDetail")' + '/' + $(this).attr('id').replace('post-', ''), function (data) {
                var directive = {
                    'a': 'Title'
                }
                $('.post-detail-contents').render(data, directive);
                $('.post-detail-loader').hide();
                $('.post-detail-contents').show();
            });
            return false;
        });
    });
</script>