<!DOCTYPE html>
<html lang="en">
<head>
    @if (ViewBag.Fluid == null)
    {
        ViewBag.Fluid = false;
    }
    <meta charset="utf-8" />
    <title>StaticVoid - @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="robots" content="noindex,nofollow">

    <link href="//cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    @Styles.Render("~/Content/blog-admin")
    @RenderSection("Styles", false)

    <script src="/scripts/modules/library/config.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js" data-main="admin/admin"></script>

    <script type="text/javascript">
        define('admin-permissions', [], function () {
            return {
                isBlogAdmin: @(ViewBag.IsBlogAdmin != null && ViewBag.IsBlogAdmin ? "true" : "false")
            };
        });

        define("root-layout-startup", ['jquery','bootstrap'], function ($) {
            return {
                onStart: function () {
                    console.debug('root layout start');
                },
                displayPage: function () {
                    console.debug('display page');
                    $('#main-content').show();
                }
            }
        });
    </script>

    @RenderSection("AdditionalHead", false)
</head>
<body @RenderSection("BodyTagAdditions", false)>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">StaticVoid <small>//blog</small></a>
                <ul class="nav">
                    <li class="divider-vertical"></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @RenderSection("masthead", false)
    <div id="main-content" class="body-content" style="display:none;">
        <div id="global-nav">
            <ul class="nav nav-pills nav-stacked" data-bind="foreach: menuItems">
                <li class="active" data-bind="css:{ active: selected}">
                    <a data-bind="attr:{ href: url, 'class': cssClass}">
                        <img src="#" data-bind="attr:{ src: iconUrl }" class="menu-icon" />
                        <div class="menu-title" data-bind="text: title"></div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="admin-content-wrapper">
            @RenderBody()
        </div>
    </div>
    @RenderSection("modals", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>
