@model StaticVoid.Blog.Site.Areas.Manage.Models.PostEditModel

@{
    ViewBag.Fluid = true;
}

@section AdditionalHead {
    <script type="text/javascript">
        define('startup',
            [
                'jquery',
                'admin/global-nav',
                'manage/post-authoring-editor'
            ], function ($, globalNav, editor) {
            return {
                onStart: function () {
                    console.debug('PostEdit startup.onStart');

                    editor.onStart();
                    globalNav.select('/manage/postauthoring/create');
                    $('#Reposted').click(function () {
                        $('#CanonicalUrl').toggle();
                    });
                }
            }
        });
    </script>
}

<div class="admin-content">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="row-fluid">
            <div class="span12 vertical-fill">
                <table>
                    <tr>
                        <td>@Html.TextBoxFor(model => model.Title, new { placeholder = "Title", @class = "input-xxlarge" })</td>
                        <td>@Html.LabelFor(model => model.Reposted)</td>
                        <td>@Html.CheckBoxFor(model => model.Reposted, new { @class = "input-xxlarge" })</td>
                        <td>@Html.TextBoxFor(model => model.CanonicalUrl, new { placeholder = "Reposted From Url", @class = "input-xxlarge", style = (Model != null && Model.Reposted ? "" : "display:none;") })</td>
                    </tr>
                    <tr>
                        <td colspan="4">@Html.LabelFor(model => model.Description)</td>
                    </tr>
                    <tr>
                        <td colspan="4">@Html.TextAreaFor(model => model.Description, new { placeholder = "Description", @class = "input-xxlarge" })</td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="editor-row" class="row-fluid">
            <div class="span6 vertical-fill">
                <div class="mdd_toolbar"></div>
                @Html.TextAreaFor(m => m.Body, new { id = "body-edit", @class = "horizontal-fill vertical-fill mdd_editor" })
            </div>
            <div id="editor-preview" class="span6 mdd_preview article"></div>
        </div>
        <div class="spacer"></div>
        <p>
            <input class="btn btn-success" type="submit" value="Save" />
        </p>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

@section Styles {
    
    @if(Model.BlogStyleId.HasValue){
        <link href="@Url.Action("Css","Style",new{ Area="", Id= @Model.BlogStyleId.Value  })" rel="stylesheet">
    }
    @if(Model.PostStyleId.HasValue){
        <link href="@Url.Action("Css","Style",new{ Area="", Id= @Model.PostStyleId.Value  })" rel="stylesheet">
    }
}