@model IEnumerable<StaticVoid.Blog.Site.Areas.Manage.Models.PostModel>

@{
    ViewBag.Title = "Posts";
}

<div class="row">
    <div class="span8">
        <h2>Posts</h2>
    </div>
    <div class="span4">
        <p>
            @Html.ActionLink("New Post", "Create", new { }, new { @class = "btn pull-right" })
        </p>
    </div>
</div>

<table class="table table-hover">
    <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Posted</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Status.ToString() @(item.HasDraftContent && item.Status != StaticVoid.Blog.Data.PostStatus.Draft ? " (with draft edits)" : "")
            </td>
            <td>
                @item.Posted.ToLongDateString()
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn dropdown-toggle btn-small" data-toggle="dropdown" href="#">
                        <i class="icon-cog"></i>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action( "Edit", new { id = item.Id })"><i class="icon-edit"></i> Edit</a></li>
                        @if (item.HasDraftContent)
                        {
                            <li><a href="@Url.Action( "Preview", new { area = "", controller = "Post", id = item.Id })"><i class="icon-eye-open"></i> Preview</a></li>
                        }
                        <li><a href="@Url.Action( "EditPostUrl", new { id = item.Id })" class="edit-post-url"><i class="icon-globe"></i> Edit Url</a></li>
                        @if (item.Status == StaticVoid.Blog.Data.PostStatus.Draft || item.Status == StaticVoid.Blog.Data.PostStatus.Unpublished)
                        {
                            <li><a href="@Url.Action( "ConfirmPublish", new { id = item.Id })" class="confirm-publish"><i class="icon-thumbs-up"></i> Publish</a></li>
                        }
                        @if (item.Status == StaticVoid.Blog.Data.PostStatus.Published && item.HasDraftContent)
                        {
                            <li><a href="@Url.Action( "ConfirmPublish", new { id = item.Id })" class="confirm-publish"><i class="icon-thumbs-up"></i> Publish Update</a></li>
                        }
                         @if (item.Status == StaticVoid.Blog.Data.PostStatus.Published)
                        {
                            <li><a href="@Url.Action( "ConfirmUnPublish", new { id = item.Id })" class="confirm-unpublish"><i class="icon-thumbs-down"></i> UnPublish</a></li>
                        }
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>


<div id='edit-post-url-modal' class='modal hide fade in modal-editor'>
    <div id='edit-post-url-container'>
    </div>
</div>

<div id='confirm-publish-modal' class='modal hide fade in modal-editor'>
    <div id='confirm-publish-container'>
    </div>
</div>

<div id='confirm-unpublish-modal' class='modal hide fade in modal-editor'>
    <div id='confirm-unpublish-container'>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        setupModal('edit-post-url');
        setupModal('confirm-publish', true);
        setupModal('confirm-unpublish', true);
    });
</script>
