@model StaticVoid.Blog.Site.Models.PostModel

@{
    ViewBag.Title = Model.Title;
}
@section Head {
@*    @if(!String.IsNullOrWhiteSpace(Model.Description)){
    <meta name="description" content="@Model.Description" />
    }
    <link rel="canonical" href="@Model.CanonicalUrl" />*@

    <!-- ko if: Description -->
    <meta name="description" data-bind="attr: { content: Description }" />
    <!-- /ko --> 
    <link rel="canonical" data-bind="attr: { href: CanonicalUrl }" />
}

@section Scripts {
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>

    <script type="text/javascript">
        //knockout stuff
        function PostViewModel() {
            var self = ko.mapping.fromJS(@(Html.Raw(Json.Encode(Model))));
            self.allPostsUrl = '@(Url.Action("Posts", "Index"))';
            self.NextPost.go = function () {
                window.location = '/' + self.NextPost.Link();
            };
            if(self.NextPost.Date){
                self.NextPost.Date= new DateModel(self.NextPost.Date());
            }

            self.PreviousPost.go = function () {
                window.location = '/' + self.PreviousPost.Link();
            };

            if(self.PreviousPost.Date){
                self.PreviousPost.Date= new DateModel(self.PreviousPost.Date());
            }
            self.disqus = '@ViewBag.Disqus';
            self.hasDisqus = @((ViewBag.Disqus != null).ToString().ToLower());
            self.Posted = new DateModel(self.Posted());

            return self;
        }

        function DateModel(d){
            var date = Date.parse(new Date(parseInt(d.substr(6))).toDateString());
            self = {};
            self.date = date;
            self.isThisYear = parseInt(date.toString('yyyy')) === (new Date()).getFullYear();

            return self;
        }
        $(function () {
            //ko.applyBindings(new PostViewModel());
            ko.applyBindings(new PostViewModel(), $('html')[0]);
        });
    </script>

    <script type="text/javascript">
        $(function () {
            prettyPrint();
            var vm = ko.dataFor($('#post-container')[0]);

            if (window.innerHeight + 200 > $('.body-content').height()) {
                $('.body-content').height(window.innerHeight + 200);
            }
            $.scrollTo('#top-of-post');

            if(vm.hasDisqus)
            {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + vm.disqus + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            }
        });
    </script>

    <script type="text/html" id="pretty-date">
        <div class="date" data-bind="visible: isThisYear, attr:{ title: date.toString('d MMMM yyyy') }">
            <p><!--ko text: date.toString('dd')--><!--/ko--> <span data-bind="text: date.toString('MMM')"></span></p>
        </div>
        <div class="date month" data-bind="visible: !isThisYear, attr:{ title: date.toString('d MMMM yyyy') }">
            <p><!--ko text: date.toString('MMM')--><!--/ko--> <span data-bind="text: date.toString('yyyy')"></span></p>
        </div>
    </script>
}

<div id="post-container" class="row">
    <div class="span2 post-list-container visible-desktop">
        <ul class="nav nav-list affix post-list span2">
            <li class="nav-header">Other Posts</li>
            <!-- ko foreach: OtherPosts -->
                <li data-bind="css: { active: IsCurrentPost }"><a data-bind="attr: { href: '/' + Link() }, text: Title"></a></li>
                <li class="divider"></li>
            <!-- /ko -->
            <li><a data-bind="attr: { href: allPostsUrl }" class="all-posts-link">All Posts</a></li>
        </ul>
    </div>
    <div class="span2 post-list-container visible-tablet">
        <ul class="nav nav-list post-list span2">
            <li class="nav-header">Other Posts</li>
            <!-- ko foreach: OtherPosts -->
                <li data-bind="css: { active: IsCurrentPost }"><a data-bind="attr: { href: '/' + Link() }, text: Title"></a></li>
                <li class="divider"></li>
            <!-- /ko -->
            <li><a data-bind="attr: { href: allPostsUrl }" class="all-posts-link">All Posts</a></li>
        </ul>
    </div>
    <div class="span10">
        <!-- ko if: NextPost -->
            <div class="gradient-container">
                <div class="next-post post" data-bind="click: NextPost.go">
                    <div data-bind="template: { name: 'pretty-date', data: NextPost.Date }"></div>
                    <div class="post-title" data-bind="text: NextPost.Title"></div>
                </div>
                <div class="next-post-gradient"></div>
                <div class="next-post-cutoff"></div>
                <div id="top-of-post"></div>
            </div>

            <div class="post-spacer"></div>
        <!-- /ko -->

        <div class="post">
            <div data-bind="template: { name: 'pretty-date', data: Posted }"></div>
            <h1 class="post-title" data-bind="text: Title"></h1>
            <div class="author-flair">
                <!-- ko if: Author.GooglePlusProfileUrl == null || Author.GooglePlusProfileUrl == '' -->
                <img data-bind="attr:{ src: Author.GravatarUrl() + '?s=50', alt: Author.Name }" />
                <!-- /ko -->
                <!-- ko if: Author.GooglePlusProfileUrl != null && Author.GooglePlusProfileUrl != '' -->
                <a data-bind="attr:{ href: Author.GooglePlusProfileUrl() + '?rel=author' }">
                    <img data-bind="attr:{ src: Author.GravatarUrl() + '?s=50', alt: Author.Name }" />
                </a>
                <!-- /ko -->
            </div>
            <div class="article" data-bind="html: Body">
            </div>

            <div class="post-footer">
                <div class="row">
                    <div class="span5 offset2">
                        <span>Say thanks by sharing: </span>
                        <div class="twitter-share"><a href="https://twitter.com/share" class="twitter-share-button" data-size="large">Tweet</a></div>
                        <div class="plus-one">
                            <div class="g-plusone"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- ko if: hasDisqus -->
            <div id="disqus_thread"></div>     
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            <!-- /ko -->
            <div class="row class copyright">
                <div class="span10">
                    <span data-bind="text: Author.Name"></span> &copy; 2012, Reproduce only with written consent from the author.
                </div>
            </div>
        </div>


        <!-- ko if: PreviousPost -->
            <div class="post-spacer"></div>
            <div class="gradient-container">
                <div class="prev-post post" data-bind="click: PreviousPost.go">
                    <div data-bind="template: { name: 'pretty-date', data: PreviousPost.Date }"></div>
                    <div class="post-title" data-bind="text: PreviousPost.Title"></div>
                </div>
                <div class="prev-post-gradient"></div>
                <div class="prev-post-cutoff"></div>
            </div>
        <!-- /ko -->
        <div id="length-push"></div>
    </div>
</div>