@model StaticVoid.Blog.Site.Models.PostModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Model.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="canonical" href="@Model.CanonicalUrl" />

    @Styles.Render("~/Content/style")
    @Styles.Render("~/Content/post")

    @*<meta name="viewport" content="width=device-width" />*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/prettify")
    @Scripts.Render("~/bundles/scrollto")
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>

    <script type="text/javascript">
        $(function () {
            prettyPrint();
        });
    </script>

</head>
<body>
    <div class="titlebar navbar-fixed-top">
        <div class="container">
            <div class="button-bar pull-right">
                <div class="button atom-button">
                    <a href="/feed.atom">
                        <div class="button-filler"></div>
                    </a>
                </div>
                <div class="button twitter-button">
                    <a href="https://twitter.com/intent/user?screen_name=staticv0id">
                        <div class="button-filler"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav pull-right">
                    <li><a href="https://trello.com/b/NuqDdxdm">Vote for Topics</a></li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="body-content">
        <div class="container">
            <div class="row">
                <div class="span2">
                    <ul class="nav nav-list affix">
                        <li class="nav-header">Other Posts</li>
                        @foreach (var p in Model.OtherPosts)
                        {
                            <li class='@(p.IsCurrentPost? "active" : "")'><a href="/@p.Link">@p.Title</a></li>
                        }
                    </ul>
                </div>
                <div class="span10">
                    @if (Model.NextPost != null)
                    {
                        <script type="text/javascript">
                            $(function () {
                                $('.next-post').click(function () {
                                    window.location = '/@Model.NextPost.Link';
                                });
                            });

                        </script>
                        <div class="gradient-container">
                            <div class="next-post post">
                                <div class="date">
                                    <p>@Model.NextPost.Date.Day.ToString() <span>@Model.NextPost.Date.ToString("MMM")</span></p>
                                </div>
                                <h3 class="post-title">@Model.NextPost.Title</h3>
                            </div>
                            <div class="next-post-gradient"></div>
                            <div class="next-post-cutoff"></div>
                            <div id="top-of-post"></div>
                        </div>

                        <div class="post-spacer"></div>
    
                        <script type="text/javascript">
                            $(function () {
                                if (window.innerHeight + 200 > $('.body-content').height()) {
                                    $('.body-content').height(window.innerHeight + 200);
                                }
                                $.scrollTo('#top-of-post');
                            });
                        </script>
                    }

                    <div class="post">
                        <div class="date">
                            <p>@Model.Posted.Day.ToString()  <span>@Model.Posted.ToString("MMM")</span></p>
                        </div>
                        <h3 class="post-title">@Model.Title</h3>
                        <div class="author-flair">
                            @if (String.IsNullOrWhiteSpace(Model.Author.GooglePlusProfileUrl))
                            {
                                <img src="@(Model.Author.GravatarUrl)?s=50" alt="@Model.Author.Name" />
                            }
                            else
                            { 
                                <a href="@(Model.Author.GooglePlusProfileUrl)?rel=author">
                                    <img src="@(Model.Author.GravatarUrl)?s=50" alt="@Model.Author.Name" /></a>
                            }
                        </div>
                        <div class="article">
                            @Html.Raw(Model.Body)
                        </div>

                        <div class="post-footer row">
                            <div class="span5 offset2">
                                <span>Say thanks by sharing: </span>
                                <div class="twitter-share"><a href="https://twitter.com/share" class="twitter-share-button" data-size="large">Tweet</a></div>
                                @*<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>*@
                                <div class="plus-one">
                                    <div class="g-plusone"></div>
                                </div>
                            </div>
                        </div>

                        <div id="disqus_thread"></div>
                        <script type="text/javascript">
                            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                            var disqus_shortname = 'svmagnesium'; // required: replace example with your forum shortname

                            /* * * DON'T EDIT BELOW THIS LINE * * */
                            (function () {
                                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                    </div>

                    @if (Model.PreviousPost != null)
                    {
                        <div class="post-spacer"></div>
                        <script type="text/javascript">
                            $(function () {
                                $('.prev-post').click(function () {
                                    window.location = '/@Model.PreviousPost.Link';
                                });
                            });

                        </script>
                        <div class="gradient-container">
                            <div class="prev-post post">
                                <div class="date">
                                    <p>@Model.PreviousPost.Date.Day.ToString() <span>@Model.PreviousPost.Date.ToString("MMM")</span></p>
                                </div>
                                <h3 class="post-title">@Model.PreviousPost.Title</h3>
                            </div>
                            <div class="prev-post-gradient"></div>
                            <div class="prev-post-cutoff"></div>
                        </div>
                    }

                    <div id="length-push"></div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35392503-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
