<!DOCTYPE html>
<html lang="en">
<head>
    @{
        Layout = null;
    }
    <meta charset="utf-8" />
    <title>@(ViewBag.Title + (ViewBag.BlogName != null ? " - " + ViewBag.BlogName : ""))</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @RenderSection("Head", required: false)
    
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.no-icons.min.css" rel="stylesheet">
    @Styles.Render("~/Content/post")
    @Styles.Render("~/Content/post_less")
    @RenderSection("Styles", required: false)

    @*<meta name="viewport" content="width=device-width" />*@
    @Scripts.Render("~/bundles/blog")
</head>
<body>
    <!--TODO: Work out a DRY-er way of doing the responsive modes-->
    <div class="blog-header visible-desktop">
        <div class="titlebar navbar-fixed-top">
            <div class="container">
                <div class="button-bar pull-right">
                    <div class="button atom-button" title="Atom Feed">
                        <a href="/feed.atom">
                            <div class="button-filler"></div>
                        </a>
                    </div>
                    @if(ViewBag.Twitter != null){
                    <div class="button twitter-button" title="Twitter">
                        <a href="https://twitter.com/intent/user?screen_name=@ViewBag.Twitter">
                            <div class="button-filler"></div>
                        </a>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    @Html.Partial("_LoginPartial")
                    <ul class="nav pull-right">
                        <li><a href="https://trello.com/b/NuqDdxdm">Vote for Topics</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-header visible-tablet visible-phone">
        <div class="titlebar">
            <div class="container">
                <div class="button-bar pull-right">
                    <div class="button atom-button" title="Atom Feed">
                        <a href="/feed.atom">
                            <div class="button-filler"></div>
                        </a>
                    </div>
                    @if(ViewBag.Twitter != null){
                    <div class="button twitter-button" title="Twitter">
                        <a href="https://twitter.com/intent/user?screen_name=@ViewBag.Twitter">
                            <div class="button-filler"></div>
                        </a>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    @Html.Partial("_LoginPartial")
                    <ul class="nav pull-right">
                        <li><a href="https://trello.com/b/NuqDdxdm">Vote for Topics</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="body-content">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    @if(ViewBag.Analytics!=null){
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '@ViewBag.Analytics']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    }
    @RenderSection("scripts", required: false)
</body>
</html>
