@model StaticVoid.Blog.Site.Areas.Manage.Models.BlogConfigModel

@{
    ViewBag.Title = "Blog Configuration";
}
<div class="container">
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Blog Configuration</legend>

        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)

        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)

        @Html.LabelFor(model => model.Twitter)
        @Html.EditorFor(model => model.Twitter)
        @Html.ValidationMessageFor(model => model.Twitter)

        @Html.LabelFor(model => model.AuthoritiveUrl)
        @Html.EditorFor(model => model.AuthoritiveUrl)
        @Html.ValidationMessageFor(model => model.AuthoritiveUrl)

        @Html.LabelFor(model => model.AnalyticsKey)
        @Html.EditorFor(model => model.AnalyticsKey)
        @Html.ValidationMessageFor(model => model.AnalyticsKey)

        @Html.LabelFor(model => model.DisqusShortname)
        @Html.EditorFor(model => model.DisqusShortname)
        @Html.ValidationMessageFor(model => model.DisqusShortname)
        <br />

        <button type="submit" class="btn">Save</button>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    </div>