@model IEnumerable<StaticVoid.Blog.Site.Models.PostRowIndexModel>

@{
    ViewBag.Title = "All Posts";
}

@section Styles {
}


<div class="row post-index">
    <div class="span8 offset2">
        <div class="row">
            <div class="span8 page-title">
                <h1>All Posts</h1>
            </div>
        </div>
        @foreach (var row in Model)
        {
            <div class="row">
                <div class="date small pull-left">
                    <p>@row.Posted.Day.ToString()  <span>@row.Posted.ToString("MMM")</span></p>
                </div>
                <div class="span7 details">
                    <div class="title">
                        <a href="/@row.Url">@row.Title</a>
                    </div>
                    <div class="by-line">
                        By <a href="/@row.Author.GooglePlusProfileUrl">@row.Author.Name</a>
                    </div>
                    @if (!String.IsNullOrWhiteSpace(row.Description))
                    {
                        <div class="description">
                            @row.Description
                        </div>
                    }
                </div>
            </div>
            
            <div class="row spacer"></div>
        }
    </div>
</div>
