@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section Styles {    
    @RenderSection("Styles", false)
}

@section AdditionalHead {
    <script type="text/javascript">
        define("layout-startup",
            [
                'jquery',
                'manage/global-nav-items',
                'library/modals'
            ], function ($, globalNavItems, modals) {
                return {
                    onStart: function () {
                        console.debug('layout-startup.onStart');

                        globalNavItems.setup();
                        //prettyPrint();
                        modals.setupModal('edit-post-url');
                        modals.setupModal('edit-blog-config');
                        modals.setupModal('confirm-publish', true);
                        modals.setupModal('confirm-unpublish', true);
                        modals.setupModal('permissions-editor');
                    }
                }
            }
        );
    </script>
    @RenderSection("AdditionalHead", false)
}

@*section BodyTagAdditions{ onload="prettyPrint()"}*@
@section masthead {
    @RenderSection("masthead", false)
}

@section modals{

    <div id="edit-post-url-modal" class="modal hide fade in modal-editor">
        <div id="edit-post-url-container">
        </div>
    </div>

    <div id="edit-blog-config-modal" class="modal hide fade in modal-editor">
        <div id="edit-blog-config-container">
        </div>
    </div>

    <div id="confirm-publish-modal" class="modal hide fade in modal-editor">
        <div id="confirm-publish-container">
        </div>
    </div>

    <div id="confirm-unpublish-modal" class="modal hide fade in modal-editor">
        <div id="confirm-unpublish-container">
        </div>
    </div>

    <div id="permissions-editor-modal" class="modal hide fade in modal-editor">
        <div id="permissions-editor-container">
        </div>
    </div>
}
@section scripts{
    @RenderSection("scripts", required: false)
}

@RenderBody()