<!DOCTYPE html>
<html lang="en">
<head>
    @if (ViewBag.Fluid == null)
    {
        ViewBag.Fluid = false;
    }
    <meta charset="utf-8" />
    <title>StaticVoid - @ViewBag.Title </title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="robots" content="noindex,nofollow">

    <link href="//cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    @Styles.Render("~/Content/blog-admin")
    @RenderSection("Styles", false)

    @*<meta name="viewport" content="width=device-width" />*@

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.2.1/knockout-min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.3.5/knockout.mapping.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout-validation/1.0.2/knockout.validation.min.js" type="text/javascript"></script>

    @Scripts.Render("~/bundles/blog-admin")

    <script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        $(function () {
            var menu = globalNav.menuItems;
            menu.push(new MenuItemViewModel({ data: { title: "Dashboard", url: "/manage", icon: "dashboard", cssClass: '' } }));
            menu.push(new MenuItemViewModel({ data: { title: "Author", url: "/manage/postauthoring/create", icon: "format-quote", cssClass: '' } }));
            menu.push(new MenuItemViewModel({ data: { title: "Redirects", url: "/manage/redirects", icon: "shuffle", cssClass: '' } }));
            menu.push(new MenuItemViewModel({ data: { title: "Style", url: "/manage/templateeditor", icon: "quill", cssClass: '' } }));

            @if (ViewBag.IsBlogAdmin)
            {
                <text>
            menu.push(new MenuItemViewModel({ data: { title: "Permissions", url: "/manage/permissionseditor/editpermissions", icon: "key", cssClass: 'permissions-editor' } }));
                </text>
            }
            menu.push(new MenuItemViewModel({ data: { title: "Recovery", url: "/manage/recovery", icon: "drive-upload", cssClass: 'blog-recovery' } }));
            menu.push(new MenuItemViewModel({ data: { title: "Config", url: "/manage/blogconfiguration/edit", icon: "gears", cssClass: 'edit-blog-config' } }));

            prettyPrint();
            BindClicks();
        });

        function BindClicks() {
            setupModal('edit-post-url');
            setupModal('edit-blog-config');
            setupModal('confirm-publish', true);
            setupModal('confirm-unpublish', true);
            setupModal('permissions-editor');
        }
    </script>
    @RenderSection("AdditionalHead", false)
</head>
<body onload="prettyPrint()">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">StaticVoid <small>//blog</small></a>
                <ul class="nav">
                    <li class="divider-vertical"></li>
                    @*<li>@Html.ActionLink("My Projects","MyProjects","Project",new{ userId = 1 },new{})</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @RenderSection("masthead", false)
    <div class="body-content">
        <div id="global-nav">
            <ul class="nav nav-pills nav-stacked" data-bind="foreach: menuItems">
                <li class="active" data-bind="css:{ active: selected}">
                    <a data-bind="attr:{ href: url, 'class': cssClass}">
                        <img src="#" data-bind="attr:{ src: iconUrl }" class="menu-icon" />
                        <div class="menu-title" data-bind="text: title"></div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="admin-content-wrapper">
            @RenderBody()
        </div>
    </div>
    <div id="edit-post-url-modal" class="modal hide fade in modal-editor">
        <div id="edit-post-url-container">
        </div>
    </div>

    <div id="edit-blog-config-modal" class="modal hide fade in modal-editor">
        <div id="edit-blog-config-container">
        </div>
    </div>

    <div id="confirm-publish-modal" class="modal hide fade in modal-editor">
        <div id="confirm-publish-container">
        </div>
    </div>

    <div id="confirm-unpublish-modal" class="modal hide fade in modal-editor">
        <div id="confirm-unpublish-container">
        </div>
    </div>

    <div id="permissions-editor-modal" class="modal hide fade in modal-editor">
        <div id="permissions-editor-container">
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
